.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
    border: 1px solid red; 
    height: fit-content;
  }

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.test {
    border: 1px solid red; 
}