.visualizer-container {
  width: 100px;
}

.array-container {
    /* position: absolute; */
    /* left: 100px; */
    /* top: 100px; */
    /* border: 1px solid red;  */
    min-height: 500px; /*fit-content;*/
    white-space: nowrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: auto; */
    border: 1px solid green; 

  }

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
  /* margin-top: 10px; */
}

.buttons-container {
  /* border: 1px solid green;  */
}

.sort-button {
  font-size: 16px;
  margin: 0 20px 10px 20px;
}