.array-container {
    /* position: absolute; */
    left: 100px;
    /* top: 100px; */
    border: 1px solid red; 
    height: fit-content;
    white-space: nowrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.test {
    /* border: 1px solid red;  */
}

.buttons-container {
  border: 1px solid green; 
}