.App {
  text-align: center;
  /* border: 1px solid blue; */
}

#topbar {
  /* border: 1px solid green; */
  overflow: auto;
  min-height: 20px;

}

#slider-button-container {
  /* border: 2px solid orange; */
  float: left;
  overflow: auto;
  padding: 10px;
  margin-left: 80px;
}

.slider-container {
  /* border: 1px solid rgb(255, 251, 0); */
  float:left;
}

.generate-list {
  /* border: 1px solid purple; */
  margin: 10px;
  margin-left: 20px;
  min-height: 30px;
  min-width: 30px;
  float:right;
}

.button-menus {
  /* border: 1px solid red; */
  margin: 20px 50px  20px  20px;
  background-color: rgb(148, 247, 247);
  border-radius: 3%;
  float:left;
}


