.App {
  text-align: center;
  border: 1px solid blue;
}

#topbar {
  border: 1px solid green;
  overflow: auto;
  min-height: 20px;

}

.button-menus {
  border: 1px solid red;
  margin: 5px;
  /* position:absolute; */
  float:left;
}

.generate-list {
  border: 1px solid purple;
  margin: 5px;
  min-height: 30px;
  min-width: 30px;
  float:left;
}
