.App {
  text-align: center;
  margin-bottom: 10px;
  /* border: 1px solid blue; */

}

h1 {
  margin: 0;
}

#topbar {
  /* border: 1px solid green; */
  overflow: auto;
  min-height: 20px;

}


#slider-button-container {
  /* border: 2px solid orange; */
  float: left;
  overflow: auto;
  padding: 30px;
  /* height: 100px; */
}

.slider-container {
  /* border: 1px solid rgb(255, 251, 0); */
  float:left;
}

.generate-list {
  /* border: 1px solid purple; */
  margin: 10px;
  margin-left: 20px;
  min-height: 30px;
  min-width: 30px;
  float:right;
}

.button-menus {
  /* border: 1px solid red; */
  margin: 20px 50px  20px  20px;
  background-color: rgb(148, 247, 247);
  border-radius: 3%;
  float:left;
}

#code-and-button-container{
  /* border: 1px solid red; */
  width: 400px;
  height: 500px;
  float:left;
}
.code-container {
  height: 500px;
  width: 400px;
  /* border: 1px solid green; */
}

#languages-container{
  height: 500px;
  width: 400px;
  /* border: 1px solid blue; */
  float:left;
  margin-bottom:  0px;
}

#explanations-block {
  /* border: 1px solid black;  */
  float: left;
  overflow: auto;
  padding: 0;
}